<div class="mt-28 px-24 py-8 bg-success2 flex flex-col items-center justify-center md:flex md:flex-row md:items-center md:justify-between">
  <div class="text-white space-y-5 flex flex-col items-center justify-center">
    <h1 class="font-bold text-[35px]">About Us </h1>
    <p class="md:w-[550px] text-center text-[17px]">we are passionate about delivering a superior shopping experience to our customers. Our goal is to offer a diverse range of high-quality products that meet your needs and exceed your expectations</p>
  </div>
  <div>
    <img  width="530" height="471" ngSrc="assets/images/product_icon.png" alt="">
  </div>
</div>
