<div class="flex flex-col items-start gap-y-5  w-[450px]  lg:w-full">

  <p class="text-[20px]">Categories</p>

  <div class="flex flex-col items-start justify-center gap-y-5  w-full ">
    <select class="w-full border-2 p-1 active:transition-transform ">
      <option>Seasons</option>
      <option>Summer</option>
      <option>Winter</option>
    </select>

    <select class="w-full border-2 p-1">
      <option>Sale</option>
      <option>Sport</option>
      <option>Luxury</option>
    </select>

    <select class="w-full border-2 p-1">
      <option>Product</option>
      <option>Bag</option>
      <option>Sweather</option>
      <option>Sunglass</option>
      <option>Shoes</option>
      <option>Pants</option>
    </select>

  </div>
</div>
