<div
  class="md:w-[95vw] w-[90vw] px-20 py-24 flex flex-col justify-center items-center space-y-8"
>
  <div class="flex flex-col items-center justify-center w-[90vw] space-y-5">
    <h1 class="font-bold text-[20px]">Our Services</h1>
    <p class="text-center w-[400px] md:w-[600px]">
      We offer a seamless shopping experience with reliable delivery, flexible
      shipping and returns, and regular promotions. Enjoy real-time tracking and
      24-hour customer support for a smooth and satisfying purchase.
    </p>
  </div>

  <div
    class="w-[80vw] flex flex-col justify-center items-center md:flex md:flex-row md:items-center md:justify-evenly md:w-full"
  >
    <div
      class="group hover:bg-success2 hover:-translate-y-4 hover:duration-1000 transition-transform hover:cursor-pointer shadow-xl flex flex-col justify-center items-center w-[250px] h-[250px]"
    >
      <i
        class="bi bi-truck text-[60px] text-success2 group-hover:text-white"
      ></i>
      <p class="font-bold group-hover:text-white">Delivery Services</p>
    </div>

    <div
      class="group hover:bg-success2 hover:-translate-y-4 hover:duration-1000 transition-transform hover:cursor-pointer shadow-xl flex flex-col justify-center items-center w-[250px] h-[250px]"
    >
      <i
        class="bi bi-arrow-left-right text-[60px] text-success2 group-hover:text-white"
      ></i>
      <p class="font-bold group-hover:text-white">Shipping & Return</p>
    </div>

    <div
      class="group hover:bg-success2 hover:-translate-y-4 hover:duration-1000 transition-transform hover:cursor-pointer shadow-xl flex flex-col justify-center items-center w-[250px] h-[250px]"
    >
      <i
        class="bi bi-percent text-[60px] text-success2 group-hover:text-white"
      ></i>
      <p class="font-bold group-hover:text-white">Promotion</p>
    </div>

    <div
      class="group hover:bg-success2 hover:-translate-y-4 hover:duration-1000 transition-transform hover:cursor-pointer shadow-xl flex flex-col justify-center items-center w-[250px] h-[250px]"
    >
      <i
        class="bi bi-person-fill text-[60px] text-success2 group-hover:text-white"
      ></i>
      <p class="font-bold group-hover:text-white">24 Hours Service</p>
    </div>
  </div>
</div>
