<div >
  <div class="flex justify-between items-center bg-dark text-tx-light px-[80px] py-1">
    <div class="flex justify-center items-center gap-x-10">
      <div class="flex justify-center items-center gap-x-5" >
        <i class="bi bi-envelope"></i>
        <p>info.gmail.com</p>
      </div>
      <div class="flex justify-center items-center gap-x-5">
        <i class="bi bi-phone-flip"></i>
        <p>
          +212645004433
        </p>
      </div>
    </div>
    <div class="flex justify-center items-center gap-x-2">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-linkedin"></i>
    </div>
  </div>
  <div class="flex items-center justify-between px-[80px] py-5 shadow">
    <div class="flex justify-center items-center">
      <a routerLink="/" class="text-success font-bold text-[30px]">Shri Store</a>
    </div>
    <div class="flex justify-center items-center gap-x-16">
      <a routerLink="/" class="hover:text-success  text-lg">Home</a>
      <a routerLink="/about" class="hover:text-success text-lg">About</a>
      <a routerLink="/shop" class="hover:text-success text-lg">Shop</a>
      <a routerLink="/contact" class="hover:text-success text-lg">Contact</a>
    </div>
    <div class="flex justify-center items-center gap-x-5">
      <button><i class="bi bi-search text-[20px] "></i></button>
      <button><i class="bi bi-cart4 text-[20px]" ></i></button>
      <button><i class="bi bi-person-fill text-[20px]"></i></button>
    </div>
  </div>
</div>


