<div class="md:w-[300px] md:h-[550px] h-[550px] w-[350px]">
  <div class="shadow bg-gray-100 rounded-t-2xl w-full">
    <img
      alt=""
      priority
      class="bg-cover"
      ngSrc="{{ featured.image_url }}"
      [width]="500"
      [height]="500"
    />
  </div>

  <div class="bg-white p-2 pb-4 flex flex-col space-y-3 h-1/2 rounded-b-2xl">
    <div class="flex items-center justify-between">
      <ngb-rating
        [disabled]="true"
        class="text-yellow-500 text-[30px]"
        [max]="5"
        [rate]="featured.rating"
      ></ngb-rating>
      <p></p>
      <p class="text-muted">{{ featured.price }} {{ featured.currency }}</p>
    </div>
    <div class="flex flex-col items-start space-y-1">
      <p class="font-bold">{{ featured.product_name }}</p>
      <p>
        {{ featured.description }}
      </p>
    </div>
    <div>
      <p class="text-muted">Reviews ({{ featured.reviews_count }})</p>
    </div>
  </div>
</div>
