<div
  class="md:grid-rows-1 h-full flex flex-col-reverse items-center justify-center md:gap-x-20 md:flex-row md:justify-between md:items-center md:h-full"
>
  <div
    class=" h-1/2 flex flex-col items-center justify-center md:col-span-1 md:h-full md:flex md:flex-col md:justify-center md:items-center md:space-y-5 md:w-1/2"
  >
    <p class="font-bold text-[20px]">{{ product?.product_name }}</p>
    <p class="w-[300px] text-center md:w-[400px]">{{ product?.description }}</p>
    <p class="text-dark text-[20px] font-bold">
      {{ product?.price }} {{ product?.currency }}
    </p>
  </div>

  <div
    class=" h-1/2 w-full flex justify-center items-center md:w-1/2 md:col-span-1 md:h-full md:flex md:items-center md:justify-center"
  >
    <img
      class="w-[150px] md:w-[250px]"
      alt=""
      height="500"
      ngSrc="{{ product?.image_url }}"
      priority
      width="400"
    />
  </div>
</div>
